tmux*.log
tmux/.config/tmux/plugins/*
nvim/.config/nvim/spell/*.spl
nvim/.config/nvim/lua/packer_compiled.lua
zsh_history
.zsh_history
.zcompdump*
.zcompcache
.zinit
.zsh_sessions

.config/tmux/plugins/

.config/git/config-scoro
~/.gitconfig-private
.netrwhist

*.pyo
*.pyc

.vim

.luarc.json
