tmux*.log

.stow-local-ignore
nvim/.config/nvim/spell/*.spl
nvim/.config/nvim/lua/packer_compiled.lua

zsh/.config/zsh/local/
zsh_history
.zsh_history
.zcompdump*
.zcompcache
.zinit
.zsh_sessions

tmux/.config/tmux/plugins/

.config/git/config-scoro

.netrwhist

*.pyo
*.pyc

.vim

.luarc.json
